@import "../../../shared/style/variables";
.dm__wrapper {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.dm {
  color: $white;
  background-color: $purple;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  &:hover {
    background-color: $purple-hover;
  }
  &.selected-dm,
  .channel:not(.selected-dm):hover {
    color: $white;
    background-color: $blue-active;
  }
}

.mat-mdc-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
