@use "../../shared/style/variables" as *;
.welcome {
  height: $main-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: $purple;
  color: $white;
  text-align: center;
}
