@use "sass:color";
@import "../../shared/style/variables";
.welcome {
  position: relative;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $purple;
  overflow: clip;
}

.welcome__text {
  padding: 0.75rem;
}

.welcome__form {
  position: relative;
  z-index: 10;
  background-color: $white;
  border-radius: 0.75rem;
  min-height: 80%;
  width: 40%;
  min-width: 18rem;
  max-width: 24rem;
  max-height: 45rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  mat-tab-group {
    flex: 1;
    .mat-mdc-tab-body-wrapper {
      flex: 1;
      margin-top: 1.5rem;
    }
  }
  @media (max-width: 600px) {
    height: 100dvh;
    width: 100vw;
    max-width: none;
    max-height: none;
    border-radius: unset;
  }
}

.welcome__logo {
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  height: 120%;
  width: 120%;
  padding: 2rem;
}

.welcome__headline {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  font-weight: 800;
  font-size: clamp(1rem, 20vw, 14rem);
  color: $white;
  text-shadow: 0 0 0.125rem $dark-grey;
}

.mat-mdc-card {
  height: 100%;
  form {
    mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.mdc-card {
  background-color: transparent !important;
  @media (max-width: 600px) {
    justify-content: center !important;
  }
}

.mat-mdc-card-header {
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

.mat-mdc-raised-button {
  width: 50%;
}

.mat-mdc-card-actions {
  flex-direction: column !important;
  gap: 0.5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: translate(-50%, -50%), scale(1);
  }
  100% {
    transform: translate(-50%, -50%), scale(0);
  }
}
