<h1 mat-dialog-title>Enter your Email to restore Password</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [(ngModel)]="userEmail" required>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="warn">Close</button>
    <button (click)="store.forgotForm(userEmail)" color="accent" mat-raised-button>Send Email</button>
</div>