@use "sass:color";
@import "../../shared/style/variables.scss";
.section {
  padding: 1rem;
}

.fieldset {
  display: flex;
  flex-direction: column;
}

.legend {
  font-size: 1.5em;
  font-weight: 500;
  color: $purple;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wrapper__text {
  font-weight: 500;
}

.wrapper__box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $grey;
  border-radius: 0.25rem;
  padding: 1rem;
  &:hover {
    border: 1px solid $dark-grey;
  }
}

.wrapper__img {
  border-radius: 0.25rem;
  cursor: pointer;
  object-fit: contain;
  object-fit: center center;
  height: $icon-size * 5;
  width: $icon-size * 5;
  aspect-ratio: 1/1;
  &:hover {
    filter: brightness(1.25);
  }
}

.wrapper__hint {
  color: $red;
}

.btn__container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
}
