<section class="section">
  <form (ngSubmit)="onSubmit()">
    <fieldset class="fieldset">
      <legend>Settings</legend>
      <div class="wrapper">
        <label for="username"
          ><span class="wrapper__text">Username:</span></label
        ><input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
          [value]="data.user.username"
        />
      </div>
      <div class="wrapper">
        <label for="image" class="wrapper">
          <span class="wrapper__text">Profile Picture:</span>
          <img class="wrapper__img" [src]="data.user.profilePicture" />
        </label>
        <input
          type="file"
          id="image"
          name="image"
          style="display: none"
          accept="image/*"
          (change)="onFileSelected($event)"
        />
      </div>
    </fieldset>
    <br />
    <div class="btn__container">
      <button
        type="button"
        mat-raised-button
        color="warn"
        (click)="closeDialog()"
      >
        Close
      </button>
      <button type="submit" mat-raised-button color="accent">Save</button>
    </div>
  </form>
</section>
