<article class="article">
  <h2>
    Hello <span class="username">{{ user?.username }}</span
    >,
  </h2>
  <br/>
  <p>Welcome to our slack clone app!<br><br>

    Feel free to join conversations in the channels section or contact other users directly via direct message.<br><br>

    To join a channel, click on the channels button and then on the 'open channels' tab. A dialog opens where you can select and add the desired channel.
    The added channel will then appear on the left side in the menu. Select a chat by clicking on it and the chat history is displayed.<br><br>
    The same applies to interacting with another user directly via direct messages.<br><br>
    If you have further questions, simply click on the info icon in the header.<br>
    Now have fun and enjoy using our app.</p>
  <br />
  <hr />
  <div class="team">
    <span>Developers:</span>
    <ul class="team__list">
      <li>
        <a href="https://www.dennisammen.de" target="_blank">Dennis</a>
      </li>
      <li>
        <a href="https://www.georg-strassberger.de" target="_blank">Georg</a>
      </li>
      <li>
        <a href="https://github.com/ImForsaken/" target="_blank">Kevin</a>
      </li>
    </ul>
  </div>
  <hr />
</article>
