<header class="header">
  <mat-toolbar class="header__content" color="primary">
    <app-logo routerLink="/main"></app-logo>
    <!-- =========== -->
    <!-- <app-user-icon></app-user-icon> -->
    <!-- =========== -->
    <div class="header__menu">
      <!-- Info Button -->
      <button mat-icon-button [matMenuTriggerFor]="infoMenu" matTooltip="Info">
        <mat-icon>help</mat-icon>
      </button>
      <!-- Info Menu -->
      <mat-menu #infoMenu="matMenu">
        <button mat-menu-item routerLink="/legal-notice">
          Legal Notice<mat-icon>copyright</mat-icon>
        </button>
        <button mat-menu-item routerLink="/data-protection">
          Data Protection<mat-icon>security</mat-icon>
        </button>
      </mat-menu>

      <!-- User Button -->
      <button
        *ngIf="!user"
        mat-icon-button
        [matMenuTriggerFor]="userMenu"
        matTooltip="User Menu"
      >
        <mat-icon>manage_accounts</mat-icon>
      </button>
      <!-- User Menu -->
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="openSettingsDialog()">
          Settings<mat-icon>settings</mat-icon>
        </button>
        <button mat-menu-item (click)="logout()">
          Logout<mat-icon>logout</mat-icon>
        </button>
      </mat-menu>
      <!-- LoginUser -->

      <div *ngIf="user" class="user__container">
        <img
          class="user__image"
          [src]="user.profilePicture"
          alt="profile_picture"
          matTooltip="{{ user.username }}"
          [matMenuTriggerFor]="userMenu"
        />
        <div class="user__status">
          <div
            *ngIf="user.isOnline"
            class="user__status-online"
            matTooltip="online"
          ></div>
          <div
            *ngIf="!user.isOnline"
            class="user__status-offline"
            matTooltip="offline"
          ></div>
        </div>
      </div>
    </div>
  </mat-toolbar>
</header>
