@import "../../shared/style/variables";
.header {
  .header__content {
    height: $header-height;
    padding-inline: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .header__menu {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      justify-content: flex-end;
      button:hover {
        background-color: $purple-hover;
      }
    }
  }
}

// #############################################
// ########  UserTag for testing  ##############
// #############################################
// height & width in size variable angeben
.logo__container {
  cursor: pointer;
  padding: 0.25rem;
  height: $icon-size;
  width: $icon-size;
  padding: 0.5rem;
  border-radius: 0.75rem;
  &:hover {
    background-color: $purple-hover;
  }
  .logo {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.user__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.25rem;
  height: $icon-size;
  width: $icon-size;
  padding: 0.25rem;
  border-radius: 0.5rem;
  &:hover {
    background-color: $purple-hover;
  }
}

.user__image {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
}

.user__status {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%);
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.user__status-online {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: $green;
}

.user__status-offline {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: $grey;
}
