<div class="user__container">
    <!-- ProfilePicture -->
    <div class="user__image-container">
        <img class="user__image" [src]="user.profilePicture" alt="profile_picture" />
        <div class="user__status">
            <div *ngIf="user.isOnline" class="user__status-online" matTooltip="online"></div>
            <div *ngIf="!user.isOnline" class="user__status-offline" matTooltip="offline"></div>
        </div>
    </div>
    <!-- UserName -->
    <div class="user__name">
        {{ user.firstname | titlecase }} {{ user.lastname | titlecase }}
    </div>
</div>
<!-- Close DM Button -->
<mat-icon class="user__btn-close" (click)="leaveDMChat()" matTooltip="leave chat">close</mat-icon>