<div class="user__container">
  <div class="user__image-container">
    <img
      class="user__image"
      [src]="
        user.profilePicture === '{{ placholer 4 ifelse }}.png'
          ? user.profilePicture
          : '../../../assets/images/georg.webp'
      "
      alt="profile_picture"
    />
    <div class="user__status">
      <div
        *ngIf="isOnline"
        class="user__status-online"
        matTooltip="online"
      ></div>
      <div
        *ngIf="!isOnline"
        class="user__status-offline"
        matTooltip="offline"
      ></div>
    </div>
  </div>
  <div class="user__name">{{ user.firstname }} {{ user.lastname }}</div>
  <button
    class="user__btn-close"
    matTooltip="close"
    (click)="onDeleteUser(user.id)"
  >
    X
  </button>
</div>
