<article class="article">
  <h2>
    Hello <span class="username">{{ user?.username }}</span
    >,
  </h2>
  <br />
  <p>now you can join conversations or engage directly with other users.</p>
  <br />
  <p>
    To join a channel, click on the Channels button and then on the open
    channels tab. A dialog opens and select and confirm the corresponding
    channel.
  </p>
  <p>
    Then select the channel on the left in the menu and the current chat will be
    displayed.
  </p>
  <p>
    The same applies to interacting with another user directly via direct
    messages.
  </p>
  <p>
    If you have any further questions, simply click on the info icon in the
    header.
  </p>
  <br />
  <br />
  <p>Now habe fun to enjoy using our App.</p>
  <br />
  <hr />
  <div class="team">
    <ul class="team__list">
      <li><a href="https://www.dennisammen.de">Dennis</a></li>
      <li><a href="https://www.georg-strassberger.de">Georg</a></li>
      <li><a href="https://github.com/ImForsaken/">Kevin</a></li>
    </ul>
  </div>
  <hr />
</article>
