@import "../../../shared/style/variables";
.channel__wrapper {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.channel {
    color: $purple;
    border: 1px solid $purple;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}

.mat-mdc-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}