<!-- Dialog Headline -->
<h1 class="channel__title" mat-dialog-title>Channels</h1>
<!-- Dialog List  -->
<div mat-dialog-content class="channel__wrapper">
  <div
    *ngFor="let channel of channels; let i = index"
    (click)="selectChannel(channel)"
    [ngClass]="{
      'selected-channel': isSelected && selectedChannel === channel
    }"
    class="channel"
  >
    {{ channel.name }}
  </div>
</div>
<!-- Dialog Action Buttons -->
<div mat-dialog-actions class="channels__buttons">
  <button mat-raised-button color="warn" (click)="onNoClick()">Chancel</button>
  <button
    mat-raised-button
    color="accent"
    [disabled]="!isSelected"
    (click)="onAddChannel()"
  >
    Join
  </button>
</div>
