.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  appearance: textfield;
  -moz-appearance: textfield;
}

.matCardButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mat-mdc-card {
  box-shadow: none !important;
  @media (max-width: 600px) {
    justify-content: space-evenly;
  }
}
