@use "../../shared/style/variables" as *;
:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
}

app-chat-area {
    overflow-y: scroll;
}

app-chat-area::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $white;
}

app-chat-area::-webkit-scrollbar {
    width: 10px;
    background-color: $white;
}

app-chat-area::-webkit-scrollbar-thumb {
    background-color: $purple;
    border: 2px solid $grey;
}