@import "../../shared/style/variables";
.error {
  height: $main-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: $purple;
  color: $white;
  text-shadow: 0 0 0.25rem black;
  .error__notification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .error__btn {
  }
}
