<section class="channels__container">
  <!-- Channel Header -->
  <div class="channels__header">
    <!-- Arrow Drop Button -->
    <button
      mat-icon-button
      (click)="isChannelsOpen = !isChannelsOpen"
      matTooltip="{{ isChannelsOpen ? 'close' : 'open' }}"
    >
      <mat-icon>
        {{ isChannelsOpen ? "arrow_drop_down" : "arrow_right" }}
      </mat-icon>
    </button>
    <!-- Titel Dialog Button -->
    <button mat-button [matMenuTriggerFor]="menu" matTooltip="Channel menu">
      Channels
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openNewDialog()">
        <mat-icon>edit_note</mat-icon>Create Channel
      </button>
      <button mat-menu-item (click)="openListDialog()">
        <mat-icon>open_in_new</mat-icon>Open Channels
      </button>
    </mat-menu>
  </div>
  <!-- List of Channels -->
  <div class="channels__list" *ngIf="isChannelsOpen">
    <ng-container *ngIf="user">
      <app-channel-label
        *ngFor="let channel of user.channels; let i = index"
        class="channel"
        [index]="i"
        [channel]="channel"
        [class.selected]="channel === selectedChannel"
        (click)="setSelectedChannel(channel)"
      ></app-channel-label>
    </ng-container>
  </div>
</section>
