@import "../../../shared/style/variables";
.channels__container {
  padding: 0.5rem 1rem;
  color: $white;
  margin-bottom: 1rem;
  .channels__header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .channels__list {
    display: flex;
    flex-direction: column;
    .channel {
      transition: background-color 0.2s ease;
      &.selected {
        background-color: $blue-active;
      }
    }
  }
}

.mat-mdc-button:not(:disabled) {
  color: $white;
}
