@use "../../../shared/style/variables" as *;
mat-tree {
  padding-inline: 0.5rem;
  background-color: transparent;
  gap: 1rem;
  mat-tree-node {
    background-color: transparent;
    color: $color-white;
    .channel {
      cursor: pointer;
    }
  }
  mat-tree-node:hover {
    border-radius: 50rem;
    background-color: $color-hover;
  }
}
