@use "sass:color";
@use "sass:math";

/** Colors  */

$purple: #6a1b9a;
$purple-hover: #4a148c;
$white: #f8f8f8;
$grey: #cac0cb;
$dark-grey: #3f3b3f;
$blue-active: #1565c0;
$green: #2bac76;
$red: red;

/** Sizes */

$icon-size: 2.5rem;

/** Header&Chat Height */

$header-height: 4rem;
$main-height: calc(100dvh - #{$header-height});
$chat-area-height: 8rem;
$chat-header-height: 4rem;
$chat-content-height: calc(
  #{$main-height} - #{$chat-area-height} - #{$chat-header-height}
);

/** Breakpoins for MediaQueries */

/** 1200px oder schmaler */

$breakpoint-lg: 75em !default;

/** 992px oder schmaler */

$breakpoint-md: 62em !default;

/** 768px oder schmaler */

$breakpoint-sm: 48em !default;

/** 576px oder schmaler */

$breakpoint-xs: 36em !default;

/** 400px oder schmaler */

$breakpoint-xxs: 25em !default;

/** Breakpoints */

@media (max-width: $breakpoint-lg) {
}

@media (max-width: $breakpoint-md) {
}

@media (max-width: $breakpoint-sm) {
}

@media (max-width: $breakpoint-xs) {
}

@media (max-width: $breakpoint-xxs) {
}

// Original Farben Slack
// $color-primary: #350d36 !default;
// $color-hover: #4d2a51 !default;
// $color-gray: #cac0cb !default;
// $color-white: #f8f8f8 !default;
// $color-active: #1164a3 !default;
