<!-- Channel Label -->
<div class="channel__content" (click)="openChannel(channel)">
  <div class="channel__status">
    <mat-icon
      class="icon"
      *ngIf="channel.status === 'public'; else privateBlock"
      matTooltip="public"
      >tag</mat-icon
    >
    <ng-template #privateBlock>
      <mat-icon matTooltip="private">locked</mat-icon>
    </ng-template>
  </div>
  <!-- Channel Name -->
  <div class="channel__name">{{ channel.name }}</div>
</div>
<!-- Close Button -->
<mat-icon
  class="channel__close-btn"
  (click)="leaveChannel()"
  matTooltip="leave channel"
  >close</mat-icon
>
