@import "../../../shared/style/variables";
:host {
  display: flex;
  padding: 0.5rem 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.25rem;
  height: 2.5rem;
  color: $white;
  &:hover {
    background-color: $purple-hover;
    .channel__close-btn {
      display: flex;
      &:hover {
        color: $grey;
      }
    }
  }
}

.channel__name {
  display: flex;
  align-items: center;
}

.channel__status-icon {
  display: flex;
}

.channel__content {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  flex-grow: 1;
}

.channel__close-btn {
  display: none;
  cursor: pointer;
}
