@import "../../../shared/style/variables";
.dm__container {
  padding: 0.5rem 1rem;
  color: $white;
  .dm__header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .dm__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.mat-mdc-button:not(:disabled) {
  color: $white;
}
