<div class="message">
    <img src="https://source.unsplash.com/random" width="30" height="30">
    <div>
        <div class="message-header">
            <span><strong>Dennis Ammen</strong></span>
            <span>17:28 Uhr</span>
        </div>
        <div class="message-body">
            <p>Hier steht meine Nachricht oder Frage im Chat.! :)</p>
        </div>
        <div class="message-footer">
            <a href="#"><strong>5 Antworten</strong></a>
            <span>Letze Antwort heute um 15:34</span>
        </div>
    </div>
</div>
