<section (mousemove)="onMove($event)">
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>help</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>manage_accounts</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container>
    <!-- left side -->
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <mat-toolbar color="accent">
        <div>Slack-Clone</div>
      </mat-toolbar>
    </mat-sidenav>
    <!-- main content -->
    <mat-sidenav-content>
      <mat-toolbar color="accent">
        <button
          class="toggle__btn"
          type="button"
          mat-button
          (click)="sidenav.toggle()"
          matTooltip="Toggle Menu"
        >
          <mat-icon>menu_open</mat-icon>
        </button>
        <div>#allgemein</div>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
