@use "../../shared/style/variables" as *;
section {
  height: 100%;
  display: flex;
  flex-direction: column;
  mat-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  mat-sidenav-container {
    height: 100%;
    mat-sidenav {
      width: 18rem;
    }
    mat-sidenav-content {
      mat-toolbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }
  }
}

.toggle__btn {
  // display: inline-flex;
  display: none;
  @media (max-width: $breakpoint-sm) {
    display: inline-flex;
  }
}
