@import "../../shared/style/variables";
section {
  height: 100%;
  display: flex;
  flex-direction: column;
  .tst {
    background-color: $blue-active;
  }
  .main__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  mat-sidenav-container {
    height: 100%;
    mat-sidenav {
      background-color: $purple;
      width: 18rem;
      .sidenav__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border-top: $grey 1px solid;
        border-bottom: $grey 1px solid;
      }
    }
    mat-sidenav-content {
      overflow: hidden;
      mat-toolbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }
  }
}

.mat-drawer-side {
  border: none;
}

.toggle__btn {
  // display: inline-flex;
  display: none;
  @media (max-width: $breakpoint-sm) {
    display: inline-flex;
  }
}

mat-toolbar {
  flex-shrink: 0;
}

.chat-content {
  display: flex;
  flex-direction: column;
}