<section>
  <mat-sidenav-container>
    <!-- leftSide menu content -->
    <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpened">
      <mat-toolbar class="sidenav__header" color="primary">
        <div>Slack-Clone</div>
      </mat-toolbar>
      <app-channels (selectedChannel)="displayName($event)"></app-channels>
      <hr />
      <div>Direct Messages</div>
      <div>
        <app-chat-label
          *ngFor="let user of allUsers"
          [user]="user"
        ></app-chat-label>
      </div>
    </mat-sidenav>

    <!--rightSide main content -->
    <mat-sidenav-content>
      <!-- header -->
      <mat-toolbar>
        <button
          class="toggle__btn"
          type="button"
          mat-button
          (click)="sidenav.toggle()"
          matTooltip="Toggle Menu"
        >
          <mat-icon>menu_open</mat-icon>
        </button>
        <div>#{{ currentChannelName }}</div>
      </mat-toolbar>
      <!-- chat display -->
      <router-outlet></router-outlet>
      <!-- inputbox -->
      <app-text-editor></app-text-editor>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
