@import "../../shared/style/variables";

section {
  height: $main-height;
  mat-sidenav-container {
    height: 100%;
    mat-sidenav {
      background-color: $purple;
      width: 18rem;
      .sidenav__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 64px;
        border-top: $grey 1px solid;
        border-bottom: $grey 1px solid;
      }
    }
    mat-sidenav-content {
      display: flex;
      flex-direction: column;
      mat-toolbar {
        min-height: $chat-header-height;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }
  }
}

.mat-drawer-side {
  border: none;
}

mat-toolbar {
  flex-shrink: 0;
}

mat-drawer {
  max-width: 350px;
  transition: none !important;
}

.mat-drawer-content {
  display: flex;
  flex-direction: column;
}

.chat-content {
  display: flex;
  flex-direction: column;
}

.muster {
  color: $white;
  text-align: center;
  padding: 1rem;
}

.message-container {
  height: 100%;
}

.channelname {
  margin-left: 0.5rem;
}
